
<h2> Create of Employyes</h2>
<div>
  <form #employeeForm="ngForm" (ngSubmit)="saveEmployee(employee)">
    <div class="panel panel-primary">
      <div class="panel-heading">
        <h3 class="panel-title">Create Employee</h3>
      </div>
      <div class="panel-body">

        <div class="form-group"
         [class.has-error]="fullNameControl.invalid  && fullNameControl.touched"
         [class.has-success]="fullNameControl.valid">
         <label for="fullName" class="control-label">Full Name</label>
          <input id="fullName" required type="text" class="form-control" name="fullName"
          [(ngModel)]="fullName" #fullNameControl="ngModel">
          <span class="help-block" *ngIf="fullNameControl.invalid && fullNameControl.touched">>
            Full Name is required
          </span>

          <table border=1 style="border-collapse:collapse; font-family:Arial; table-layout: fixed">
            <tr style="background-color:rgb(170, 120, 12); font-weight: bold">
              <td colspan="3" style="padding:3px; white-space:nowrap; width:100%">
                <h4>Full Name Field</h4>
              </td>
            </tr>
            <tr style="background-color:rgb(212, 149, 13); font-weight: bold">
              <td style="padding:10px; white-space:nowrap; width:33%">
                <div>touched : {{ fullNameControl.touched }}</div>
                <div>untouched : {{ fullNameControl.untouched }}</div>
              </td>
              <td style="padding:10px; white-space:nowrap; width:33%">
                <div>pristine : {{ fullNameControl.pristine }}</div>
                <div>dirty : {{ fullNameControl.dirty }}</div>
              </td>
              <td style="padding:10px; white-space:nowrap; width:33%">
                <div>valid : {{ fullNameControl.valid }}</div>
                <div>invalid : {{ fullNameControl.invalid }}</div>
              </td>
            </tr>
          </table>

          <table border=1 style="border-collapse:collapse; font-family:Arial; table-layout: fixed">
            <tr style="background-color:silver; font-weight: bold">
              <td colspan="3" style="padding:3px; white-space:nowrap; width:100%">
                <h4>Employee Form</h4>
              </td>
            </tr>
            <tr style="background-color:silver; font-weight: bold">
              <td style="padding:10px; white-space:nowrap; width:33%">
                <div>touched : {{ employeeForm.touched }}</div>
                <div>untouched : {{ employeeForm.untouched }}</div>
              </td>
              <td style="padding:10px; white-space:nowrap; width:33%">
                <div>pristine : {{ employeeForm.pristine }}</div>
                <div>dirty : {{ employeeForm.dirty }}</div>
              </td>
              <td style="padding:10px; white-space:nowrap; width:33%">
                <div>valid : {{ employeeForm.valid }}</div>
                <div>invalid : {{ employeeForm.invalid }}</div>
              </td>
            </tr>
          </table>
          
        </div>
        
        <div class="form-group" [class.has-error]="contactPreference.invalid">
          <label class="control-label">Contact Preference</label>
          <div class="form-control">
            <label class="radio-inline">
              <input type="radio" required #contactPreference="ngModel" name="contactPreference"
                      value="email" [(ngModel)]="employee.contactPreference"> Email
            </label>
            <label class="radio-inline">
              <input type="radio" required #contactPreference="ngModel" name="contactPreference"
                      value="phone" [(ngModel)]="employee.contactPreference"> Phone
            </label>
          </div>
          <span class="help-block" *ngIf="contactPreference.errors?.required">
              Contact Preference is required
          </span>
          <!-- Delete the below line after you see
              the selected value in the browser -->
          Contact Preference Selected Value : {{ contactPreference.value }}
        </div>
        <div>
          <input id="emailreference" [required]="contactPreference.value=='email'"
          type="text" class="form-control"
          pattern="^[a-zA-Z0-9_.+-]+@[a-zA-Z0-9-]+\.[a-zA-Z0-9-.]+$"
          [(ngModel)]="employee.email" #email="ngModel" name="email">
  <span class="help-block" *ngIf="email.errors?.required">
    Email is required
  </span>
  <span class="help-block" *ngIf="email.errors?.pattern && email.touched">
    Email is Invalid
  </span>
</div>

        <div class="form-group" [class.has-error]="email.invalid && email.touched">
          <label for="email" class="control-label">Email</label>
          <input required pattern="^[a-zA-Z0-9_.+-]+@[a-zA-Z0-9-]+\.[a-zA-Z0-9-.]+$"
         id="email" type="text" class="form-control" name="email"
         [(ngModel)]="employee.email" #email="ngModel">
         <span class="help-block" *ngIf="email.errors?.required && email.touched">
          Email is required
        </span>
        <span class="help-block" *ngIf="email.errors?.pattern && email.touched">
          Email is Invalid
        </span>
      </div>

      <div class="form-group" [class.has-error]="phoneNumber.invalid">
        <label for="phoneNumber" class="control-label">Phone Number</label>
        <input id="phoneNumber" [required]="contactPreference.value=='phone'"
                #phoneNumber="ngModel" class="form-control" type="text"
                name="phoneNumber" [(ngModel)]="employee.phoneNumber">
        <span class="help-block" *ngIf="phoneNumber.errors?.required">
          Phone Number is required
        </span>
      </div>
      

        <div class="form-group">
          <label for="phoneNumber">Phone Number</label>
          <input id="phoneNumber" type="text" class="form-control" name="phoneNumber"
          [(ngModel)]="employee.phoneNumber">
        </div>

        <div class="form-group">
          <label>Contact Preference</label>
          <div class="form-control">
            <label class="radio-inline">
              <input type="radio" name="contactPreference" value="email"
              [(ngModel)]="employee.contactPreference">
              Email
            </label>
            <label class="radio-inline">
              <input type="radio" name="contactPreference" value="phone"
              [(ngModel)]="employee.contactPreference">
              Phone
            </label>
          </div>
        </div>

        <div class="form-group" [class.has-error]="gender.invalid">
          <label class="control-label">Gender</label>
          <div class="form-control">
            <label class="radio-inline">
              <input type="radio" name="gender" required #gender="ngModel"
                     value="male" [(ngModel)]="employee.gender"> Male
            </label>
            <label class="radio-inline">
              <input type="radio" name="gender" required #gender="ngModel"
                     value="female" [(ngModel)]="employee.gender"> Female
            </label>
          </div>
          <span class="help-block" *ngIf="gender.invalid">
            Gender is required
          </span>
        </div>
      </div>
      <div class="form-group">
        <div class="form-control">
          <label class="checkbox-inline">
            <input type="checkbox" name="isActive" [(ngModel)]="employee.isActive">Is Active
          </label>
        </div>
      </div>
     
      <div class="form-group"
      [class.has-error]="department.touched && department.errors?.defaultSelected">
      <label for="department" class="control-label"> Department</label>
      <select id="department" required #department="ngModel" name="department"
           [(ngModel)]="employee.department" appSelectValidator class="form-control">
     <option value="-1">Select Department</option> 
     <option *ngFor="let dept of departments" [value]="dept.id">
       {{dept.name}}
     </option>
   </select>
   <span class="help-block"
         *ngIf="department.touched && department.errors?.defaultSelected">
     Department is required
   </span>
 </div>

 <div [ngSwitch]="employee.department">
    <span *ngSwitchCase="1"> Help Desk </span>
    <span *ngSwitchCase="2"> HR </span>
    <span *ngSwitchCase="3"> IT </span>
    <span *ngSwitchCase="4"> Payroll </span>
    <span *ngSwitchDefault> N/A </span>
  </div>
 
<div class="row">
  <div class="form-group col-md-4">
    <label for="dateOfBirth">Date of Birth</label>
    <input id="dateOfBirth"  name="dateOfBirth" [(ngModel)]="employee.dateOfBirth"
           class="form-control" type="text" bsDatepicker
           [bsConfig]="datePickerConfig" />
  </div>

  <div class="form-group">
    <label for="photoPath">Photo Path</label>
    <input id="photoPath" type="text" class="form-control"
            name="photoPath" [(ngModel)]="employee.photoPath">
            <div class="form-group">
              <img [src]="photoPath" height="200" width="200" *ngIf="previewPhoto"/>
            </div>
          </div>
     <div class="form-group">
            <button (click)="togglePhotoPreview()" class="btn btn-primary">
              {{previewPhoto ? "Hide " : "Show " }} Preview
            </button>
          </div>

          <div class="form-group" [class.has-error]="isActive.invalid && isActive.touched">
            <div class="form-control">
              <label class="checkbox-inline control-label">
                <input type="checkbox" required name="isActive"
                       #isActive="ngModel" [(ngModel)]="employee.isActive">
                Is Active
              </label>
            </div>
            <span class="help-block"
                  *ngIf="isActive.errors?.required && isActive.touched">
              Is Active is required
            </span>
          </div>

</div>


<div ngModelGroup="passwordGroup" #passwordGroup="ngModelGroup" 
appConfirmEqualValidator [class.has-error]="passwordGroup.errors?.notEqual
&& !confirmPassword.errors?.required" 
[class.has-error]="password.touched && password.invalid">
<label for="password" class="control-label">Password</label>
<input id="password" required type="text" class="form-control"
    (change)="confirmPassword.control.updateValueAndValidity()"
    name="password" [(ngModel)]="employee.password"
    #password="ngModel">
<span class="help-block"
   *ngIf="password.touched && password.errors?.required">
    Password is required
</span>
</div>


<div class="form-group"
        [class.has-error]="password.touched && password.invalid">
    <label for="password" class="control-label">Password</label>
    <input name="password" required type="text" class="form-control"
            [(ngModel)]="employee.password" #password="ngModel">
    <span class="help-block"
          *ngIf="password.touched && password.errors?.required">
      Password is required
    </span>
  </div>

  <div class="form-group"
        [class.has-error]="confirmPassword.touched && confirmPassword.invalid">
    <label for="confirmPassword" class="control-label">Confirm Password</label>
    <input name="confirmPassword" required type="text" class="form-control"
            [(ngModel)]="employee.confirmPassword" #confirmPassword="ngModel">
    <span class="help-block"
          *ngIf="confirmPassword.touched && confirmPassword.errors?.required">
      Confirm Password is required
    </span>
    <span class="help-block" *ngIf="confirmPassword.touched &&
          passwordGroup.errors?.notEqual && !confirmPassword.errors?.required">
      Password and Confirm Password does not match
    </span>
  </div>
    </div> 
      <div class="panel-footer">
        <button class="btn btn-primary" type="submit"
        [disabled]="employeeForm.invalid">Save</button>
      </div>
    

   

    Angular Generated Forom Model : {{employeeForm.value | json}}
    <br/>
    <br/>
    Our Employee Model : {{ employee | json}}

  </form>
  





